html { 
  background: url("../images/farm.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	background-color: rgba(255, 255, 255, 0);
}

.welcome {
	width: 60%;
	background-color: rgba(255,255,255,0.85);
	font-family: 'Lora', serif;
	font-size: 1.25em;
	text-align: center;
	padding: 2em 0.5em;
	color: #333;
	margin: 2em auto;
	border-radius: 5px;
}

#greeting {
	text-transform: uppercase;
	font-size: 2em;
}

/* hours table */
table {
	border-spacing: 50px;
	margin: 0 auto 1em auto;
}

td {
	text-align: left;
	padding: 0 1em;
}

/* market table */
table #market {
	border-spacing: 10px;
	margin: 0 auto 1em auto;
}

table #market td {
	text-align: left;
	padding: 0 1em;
}

.go-to-market {
	margin: 1em auto;
}


.btn-market, .btn-bb, .btn-directions, .btn-checkout, #nav li {
	background-color: #F4D03F;
}

.btn-market:hover, .btn-bb:hover, .btn-directions:hover, .btn-checkout:hover, #nav li:hover {
	background-color: gold;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

.view {
	padding: 0 1em;
}

.view.ng-enter {
	animation: fadein 1s;
}

/* MARKET page*/
.item-img {
	width: 20em;
}

#tax-row {
	border-bottom: 1px solid black;
}

#grandTotal-row {
	font-weight: bold;
}

#nav ul {
	display: flex;
}

#nav ul li {
	display: inline-block;
	padding: 0.5em 1em;
}

#breakfast {
	display: block;
	text-align: left;
}

#yoga {
	text-align: left;
}

.angular-google-map-container {
	height: 300px;
	width: 300px;
	margin: 0 auto;
}

#map-wrapper {
	margin: 0 auto;
	text-align: center;
}

#market-intro {
	text-align: left;
	margin-left: 2.5em;
	/*border: 1px solid black;*/
}

/* ANIMALS page*/
.animals-text {
	text-align: left;
}

.animal-img {
	width: 20em;
}

#chicken-market:hover {
	text-decoration: underline;
}

/* Footer */
#footer:hover {
	text-decoration: underline;
}

/* RESPONSIVE media queries*/
@media (max-width: 1200px) {
	.welcome {
		width: 100%;
	}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
