<h3>Meet our farm animals!</h3>

<p class="animals-text">All our animals come to us either as strays or from animal shelters. We are devoted to providing them with a peaceful, loving home for their entire lives.</p>

<ul id="animals-list">
	<li>Rita - our barn cat and resident mouser</li>
	<img src="./images/cat.jpg" class="animal-img">
	<li>Rosco - our dog</li>
	<img src="./images/dog.jpg" class="animal-img">
	<li>Sampson - our cockatiel. He keeps it lively indoors.</li>
	<img src="./images/cockatiel.jpg" class="animal-img">
	<li>Henry - our horse. He helps with light farm work and leads walks on our trail.</li>
	<img src="./images/horse.jpeg" class="animal-img">
	<li>We also have 7 chickens who lay fresh eggs - buy some in our <strong><a href="#/market" id="chicken-market">market</a></strong>.</li>
	<img src="./images/chickens.jpeg" class="animal-img">
</ul>
