<p>Experience farm life at our bed & breakfast. We serve lunch and dinner, too. Guests are welcome to help with farm duties or are free to explore the hiking trails at their own pace.</p>
<p>Select your check-in date:</p>

<p>Select your check-out date:</p>


<p id="breakfast">Breakfast menu (included with room rate):</p>
	<ul id="breakfast">
		<li>Coffee, tea, milk, orange juice</li>
		<li>Fresh organic eggs, cooked any way you like</li>
		<li>Sausage and bacon</li>
		<li>Granola, toast</li>
		<li>Fresh, organic berries</li>
		<li>Yogurt</li>
	</ul>
