<div class="go-to-market">
	<a href="#/market"><button class="btn btn-market">Shop our farm market</button></a>
</div>

<strong><p>We are currently {{ vm.status }}.</p></strong>

<p>Our hours of operation are:</p>

<table>
	<tbody>
		<tr>
			<td>Sunday</td>
			<td>12:00 pm - 6:00 pm</td>
		</tr>
		<tr>
			<td>Monday</td>
			<td>10:00 am - 5:00 pm</td>
		</tr>
		<tr>
			<td>Tuesday</td>
			<td>10:00 am - 5:00 pm</td>
		</tr>
		<tr>
			<td>Wednesday</td>
			<td>10:00 am - 5:00 pm</td>
		</tr>
		<tr>
			<td>Thursday</td>
			<td>10:00 am - 5:00 pm</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>12:00 pm - 5:00 pm</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>10:00 am - 6:00 pm</td>
		</tr>
	</tbody>
</table>

