<!-- <div class="go-to-market">
	<a href="#/market"><button class="btn btn-market">Shop our farm market</button></a>
	<a href="#/bb"><button class="btn btn-bb">Book our bed & breakfast</button></a>
</div>
 -->



<strong><p>We are currently {{ vm.status }}.</p></strong>

<p>Our hours of operation are:</p>

<table>
	<tbody>
		<tr>
			<td>Sunday</td>
			<td>12:00 pm - 6:00 pm</td>
		</tr>
		<tr>
			<td>Monday</td>
			<td>10:00 am - 5:00 pm</td>
		</tr>
		<tr>
			<td>Tuesday</td>
			<td>10:00 am - 5:00 pm</td>
		</tr>
		<tr>
			<td>Wednesday</td>
			<td>10:00 am - 5:00 pm</td>
		</tr>
		<tr>
			<td>Thursday</td>
			<td>10:00 am - 5:00 pm</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>12:00 pm - 5:00 pm</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>10:00 am - 6:00 pm</td>
		</tr>
	</tbody>
</table>
Visit us:
<!-- <a href="#/directions"><button class="btn btn-directions">Get directions</button></a> -->
<div id="map-wrapper">
	<ui-gmap-google-map center='map.center' zoom='map.zoom'>
		<ui-gmap-marker coords="map.center" options="marker.animation" events="marker.events" idkey="1" click="marker.markerClick()">
  	</ui-gmap-marker>
	</ui-gmap-google-map>
</div>
<br>
© 2016 Emily Chen. All Rights Reserved.

