<p>We are currently {{ vm.status }}.</p>

<p>Our hours of operation are:</p>

<table>
	<tbody>
		<tr>
			<td>Sunday</td>
			<td>12:00 pm - 6:00 pm</td>
		</tr>
		<tr>
			<td>Monday</td>
			<td>10:00 am - 6:00 pm</td>
		</tr>
		<tr>
			<td>Tuesday</td>
			<td>10:00 am - 7:00 pm</td>
		</tr>
		<tr>
			<td>Wednesday</td>
			<td>10:00 am - 6:00 pm</td>
		</tr>
		<tr>
			<td>Thursday</td>
			<td>10:00 am - 7:00 pm</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>10:00 am - 6:00 pm</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>9:00 am - 7:00 pm</td>
		</tr>
	</tbody>
</table>

<div class="go-to-market">
	<button class="btn btn-market" ng-click="vm.goToMarket()">Shop our farm market</button>
</div>