<div id="market-intro">
	<p>These are the market offerings for <strong>{{ vm.dayOfTheWeek }}, {{ vm.month }} {{ vm.date }}, {{ vm.year}}</strong>.</p>
	<p>Orders received when the farm is closed will be available for pick-up by 1 pm the next day.</p>
</div>

<table id="market">
	<thead>
		<th>Item</th>
		<th>Price</th>
		<th>Quantity</th>
		<th>Item Total</th>
	</thead>
	<tbody>
		<tr>
			<td><img class="item-img" src="./images/eggs.png"></td>
			<td>{{ vm.item1 }}</td>
			<td>{{ vm.price1 | currency }}</td>
			<td><input ng-model="vm.qty1"></td>
			<td>{{ vm.itemTotal1 | currency }}</td>
		</tr>
		<tr>
			<td>{{ vm.item2 }}</td>
			<td>{{ vm.price2 | currency }}</td>
			<td><input ng-model="vm.qty2"></td>
			<td>{{ vm.itemTotal2 | currency }}</td>
		</tr>
		<tr>
			<td>{{ vm.item3 }}</td>
			<td>{{ vm.price3 | currency }}</td>
			<td><input ng-model="vm.qty3"></td>
			<td>{{ vm.itemTotal3 | currency }}</td>
		</tr>
		<tr>
			<td>{{ vm.item4 }}</td>
			<td>{{ vm.price4 | currency }}</td>
			<td><input ng-model="vm.qty4"></td>
			<td>{{ vm.itemTotal4 | currency }}</td>
		</tr>
		<tr>
			<td>{{ vm.item5 }}</td>
			<td>{{ vm.price5 | currency }}</td>
			<td><input ng-model="vm.qty5"></td>
			<td>{{ vm.itemTotal5 | currency }}</td>
		</tr>		
		<tr>
			<td></td>
			<td></td>
			<td>Subtotal</td>
			<td>{{ vm.subtotal | currency }}</td>
		</tr>
		<tr id="tax-row">
			<td></td>
			<td></td>
			<td>6% VA sales tax</td>
			<td>{{ vm.tax | currency }}</td>
		</tr>
		<tr id="grandTotal-row">
			<td></td>
			<td></td>
			<td>Grand Total:</td>
			<td>{{ vm.grandTotal | currency}}</td>
		</tr>					
	</tbody>
</table>

<div class="errors" ng-if="vm.qty1 < 0">your input must be greater than 0</div>

<a href="#/checkout"><button class="btn btn-checkout">Checkout</button></a>
